h1{
    color:rgb(218, 2, 2);
    text-align: center;
}
body{
    background-color: rgb(33, 37, 41);
}
.card{
    background-color: rgb(33, 37, 41);
    color:white;
}
.card:hover{
    background-color: white;
    color: black;
}
.badge{
    color:rgb(33, 37, 41);
    background-color:white;
}
.badge:hover{
    color:white;
    background-color: rgb(33, 37, 41);
}
.row input[type="text"]{
    border-radius: 60px;
    width: 350px;
}
.row input[type="text"]:focus{
    border: solid 2px red;
    border-radius: 60px;
    width: 400px;
}
#env{
    border-radius: 50px;
    background-color: rgb(37, 37, 172);
    border-color: rgb(37, 37, 172);
}
#env:hover{
    background-color:white;
    color: rgb(37, 37, 172);
}
#cancel{
    border-radius: 50px;
    background-color: transparent;
    border-color: rgb(192, 16, 16);
    color:rgb(192, 16, 16);
}
#cancel:hover{
    background-color:white;
    color: rgb(192, 16, 16);
}
#btn-cad{
    background-color: green;
    color: white;
    border-radius: 20px;
}
#btn-cad:hover{
    background-color:white;
    color: green;
    border-color: green;
}
#btn-can{
    background-color:transparent;
    color: white;
    border-radius: 20px;
    border-color: red;
}
#btn-can:hover{
    background-color:red;
}